<div class="row">

    {% assign name_attr = "name_" | append: page.lang %}
    {% assign description_attr = "description_" | append: page.lang %}
    {% assign url_attr = "url_" | append: page.lang %}
    {% assign contact_url_attr = "contactURL_" | append: page.lang %}
    {% assign tags_attr = "tags_" | append: page.lang %}
    {% assign repo_url_attr = "repoURL_" | append: page.lang %}

<!-- Filter dropdowns -->
<div class="col-md-3">
  <details open>
    <summary><h4 class="h4">{{ site.FilterOptions[page.lang] }}</h4></summary>
    <form class="wb-tables-filter" data-bind-to="dataset-filter">
      <div class="form-group">
        <label for="dt_govLevel">{{ site.LevelOfGovernment[page.lang] }}</label>
        <select class="form-control" id="dt_govLevel" name="dt_govLevel" data-column="6">
          <option value="">&nbsp;</option>
          <option value="Federal">Federal</option>
          <option value="Provincial">Provincial</option>
          <option value="Municipal">Municipal</option>
        </select>
      </div>

      <div class="form-group">
        <label for="dt_department">Administration</label>
        <select class="form-control" id="dt_department" name="dt_department" data-column="0">
          <option value="">&nbsp;</option>
          {% assign admins = site.data.administrations %}
          {% for admin in admins %}
            <option value="{{ admin[1][name_attr] }}">{{ admin[1][name_attr] }}</option>
          {% endfor %}
        </select>
      </div>
      
      <div class="form-group">
        <label for="dt_license">{{ site.License[page.lang] }}</label>
        <select class="form-control" id="dt_license" name="dt_license" data-column="3">
          <option value="">&nbsp;</option>
          {% assign license_array = "" | split: ',' %}
          {% for projects in site.data.code %}
            {% assign license_array = license_array | concat: projects[1].licenses %}
          {% endfor %}

          {% assign spdxIDs = license_array | map: 'spdxID' | sort | uniq %}
          {% for license in spdxIDs %}
            <option value="{{ license }}">{{ license }}</option>
          {% endfor %}
        </select>
      </div>
      
      <div class="form-group">
        <label for="dt_tag">{{ site.Tag[page.lang] }}</label>
        <select class="form-control" id="dt_tag" name="dt_tag" data-column="4">
          <option value="">&nbsp;</option>
          {% assign tag_array = "" | split: ',' %}

          {% for projects in site.data.code %}
            {% assign tag_array = tag_array | concat: projects[1][tags_attr] %}
          {% endfor %}

          {% assign tags = tag_array | sort | uniq %}
          {% for tag in tags %}
            <option value="{{ tag }}">{{ tag }}</option>
          {% endfor %}
        </select>
      </div>
      
      <div class="row">
        <div class="col-xs-6">
          <button type="submit" class="btn btn-primary" aria-controls="dataset-filter">{{ site.Filter[page.lang] }}</button>
        </div>
        <div class="col-xs-6">
          <button type="reset" class="btn btn-default">{{ site.Clear[page.lang] }}</button>
        </div>
      </div>
      
    </form>
  </details>
</div>

<!-- Data Table -->
<div class="col-md-9">
  <table class="wb-tables table table-striped table-hover" id="dataset-filter" data-wb-tables='{"order": [1, "asc"], "columnDefs": [{"targets": [0,4,6,7,8,9,10,11,12,13], "visible": true}], "paging": true}'>
    <thead>
      <tr>
        <th>Administration</th>
        <th>{{ site.ProjectName[page.lang] }}</th>
        <th>Description</th>
        <th>{{ site.License[page.lang] }}</th>
        <th>{{ site.Tag[page.lang] }}</th>
        <th>Code Repo</th>
        <th>{{ site.LevelOfGovernment[page.lang] }}</th>
        <th>{{ site.Language[page.lang] }}</th>
        <th>{{ site.RelatedCode[page.lang] }}</th>
        <th>{{ site.Status[page.lang] }}</th>
        <th>Vcs</th>
        <th>Version</th> 
        <th>{{ site.CodeCreated[page.lang] }}</th> 
        <th>{{ site.MetadataLastUpdatedCode[page.lang] }}</th> 
      </tr>
    </thead>
    <tbody>
      {% for release in site.data.code %}
      <tr>
        {% assign admin_code = release[1].adminCode %}
        
        <td>{{ site.data.administrations[admin_code][name_attr] }}</td>
        
        
        <td><a href="#{{ release[1][name_attr] | slugify }}" aria-controls="{{ release[1][name_attr] | slugify }}" class="overlay-lnk" role="button" >{{ release[1][name_attr] }}</a></td>
        <td>{{ release[1][description_attr] }}</td>
        <td>
          {% for license in release[1].licenses %}
            <a href="{{ license[url_attr] }}" target="_blank">{{ license.spdxID }}</a>&nbsp;
          {% endfor %}
        </td>
        <td>
          {% for tag in release[1][tags_attr] %}
            {{ tag }}&nbsp;
          {% endfor %}
        </td>
        <td>
          <a href="{{ release[1][repo_url_attr] }}" target="_blank">
            {{ release[1][repo_url_attr] | remove: "https://" | replace_first: "/", "                    " | truncate: 20, "" | rstrip }}
          </a>
        </td>
        <td>
          {{ site.data.administrations[admin_code].order | capitalize }}
        </td>
        <td>
          {% for language in release[1].languages %}
            {{ language }}&nbsp;
          {% endfor %}
        </td>
        <td>
          {% for relatedCode in release[1].relatedCode %}
            <a href= "{{ relatedCode[url_attr] }}">{{ relatedCode[name_attr] }}</a>
          {% endfor %}
        </td>
        <td>
          {{ release[1].status }}&nbsp;
        </td>
        <td>
          {{ release[1].vcs }}&nbsp;
        </td>
        <td>
          {{ release[1].version }}&nbsp;
        </td>
        <td>
          {{ release[1].date.created }}&nbsp;
        </td>
        <td>
          {{ release[1].date.metadataLastUpdated }}&nbsp;
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>


<!-- Modal Lightboxes -->
{% for release in site.data.code %}
  <section id="{{ release[1][name_attr] | slugify }}" class="wb-overlay modal-content overlay-def wb-popup-mid">
    <header class="modal-header">
      <h2 class="modal-title">{{ release[1][name_attr] }}</h2>
    </header>
    <div class="modal-body">
      {% assign admin = release[1].adminCode  %}
      <p><strong>{{ release[1][description_attr] }}</strong></p>
      <p>{{ site.LevelOfGovernment[page.lang] }}: {{ site.data.administrations[admin].order | capitalize }}</p>
      <p>Administration: {{ site.data.administrations[admin][name_attr] }}</p>

      <p>Source code:
        <a href="{{ release[1][repo_url_attr] }}" target="_blank">
            {{ release[1][repo_url_attr] | remove: "https://" | replace_first: "/", "                    " | truncate: 20, "" | rstrip }}
        </a>
      </p>
    <p>{{ site.License[page.lang] }}(s):
      {% for license in release[1].licenses %}
        <a href="{{ license[url_attr] }}" target="_blank">{{ license.spdxID }}</a>&nbsp;
      {% endfor %}
    </p>
    <p>{{ site.Tag[page.lang] }}(s): 
      {% for tag in release[1][tags_attr] %}
        {{ tag }}
      {% endfor %}
    </p>
    <p>{{ site.CodeLanguage[page.lang] }}(s): 
      {% for language in release[1].languages %}
        {{ language }}
      {% endfor %}
    </p>
    {% if release[1].status != nil %}
      <p>{{ site.Status[page.lang] }}: {{ release[1].status }}</p>
    {% endif %}
    {% if release[1].vcs != nil %}
      <p>Version Control System: {{ release[1].vcs }}</p>
    {% endif %}
    {% if release[1].version != nil %}
      <p>Version: {{ release[1].version }}</p>
    {% endif %}
    <p>{{ site.CodeCreated[page.lang] }}: {{ release[1].created }}</p>
    <p>{{ site.LastUpdatedCode[page.lang] }}: {{ release[1].metadataLastUpdated }}</p>

    <h3>Contact</h3>
    {% if release[1].contactName != nil %}
      <p>{{ release[1].contactName }}</p>
    {% endif %}
    {% if release[1].contactPhone != nil %}
      <p>{{ site.ContactPhoneCode[page.lang] }}: {{ release[1].contactPhone }}</p>
    {% endif %}
    {% if release[1].contactEmail != nil %}
      <p><a href="mailto:{{ release[1].contactEmail }}" target="_blank">{{ release[1].contactEmail }}</a></p>
    {% endif %}
    {% if release[1][contact_url_attr] != nil %}
      <p><a href="{{ release[1][contact_url_attr] }}" target="_blank">{{ release[1][contact_url_attr] }}</a></p>
    {% endif %}
    </div>
  </section>
{% endfor %}

</div>
